.tienda{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:40px;
}

.producto{
    width:250px;
    background:rgba(255,255,255,0.08);
    padding:20px;
    border-radius:15px;
    text-align:center;
    backdrop-filter:blur(10px);
    transition:0.3s;
}

.producto:hover{
    transform:scale(1.05);
}

.producto img{
    width:100%;
    height:200px;
    object-fit:contain;
}

.cantidad{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin:10px 0;
}

.cantidad button{
    padding:5px 10px;
    font-size:18px;
    cursor:pointer;
}

.cantidad input{
    width:50px;
    text-align:center;
}

.agregar{
    background:#00eaff;
    border:none;
    padding:10px;
    border-radius:20px;
    cursor:pointer;
}

/* CARRITO */
#btnCarrito{
    position:fixed;
    bottom:30px;
    right:30px;
    padding:15px;
    border:none;
    border-radius:30px;
    background:#00eaff;
    cursor:pointer;
}

/* MODAL */
#modalCarrito{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    align-items:center;
    justify-content:center;
}

.modalContenido{
    background:#111;
    padding:30px;
    border-radius:15px;
    width:90%;
    max-width:400px;

}

